<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Compound Interest</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.8.x-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
    <!-- https://vue-chartjs.org/guide/#npm -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script>
</head>

<body>
    <div id="app">
        <nav class="navbar is-white">
        </nav>
        <!-- END NAV -->
        <div class="container">
            <div class="columns">
                <div class="column">
                    <section class="hero is-info welcome is-small" style="border-radius: 6px 6px 0px 0px;">
                        <div class="hero-body">
                            <div class="container">
                                <h1 class="title">
                                    Compound Interest Calculator
                                </h1>
                                <h2 class="subtitle">
                                    Become the next Buffet!
                                </h2>
                            </div>
                        </div>
                    </section>
                    <section class="info-tiles">
                        <div class="tile is-ancestor has-text-centered">
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title" v-html="principal">{{principal}}</p>
                                    <p class="subtitle">Initial Deposit</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">{{total_additional_investment}}</p>
                                    <p class="subtitle">Total Additional Deposit</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">{{total_interest}}</p>
                                    <p class="subtitle">Total Interest</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title has-text-success has-text-weight-bold   ">{{future_value}}</p>
                                    <p class="subtitle has-text-success has-text-weight-bold    ">Total Savings</p>
                                </article>
                            </div>
                        </div>
                    </section>
                    <div class="columns">
                        <div class="column is-6">
                            <div class="card events-card" style="height:100%">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        Events
                                    </p>
                                </header>
                                <div class="card-table">
                                    <div class="content">
                                        <table class="table is-fullwidth is-striped">
                                            <tbody>
                                                <tr>
                                                    <td width="50%">Principal</td>
                                                    <td width="50%"><input class="input" v-model="principal" type="text" placeholder="i.e 2000"></td>
                                                </tr>
                                                <tr>
                                                    <td width="50%">Additional Investment</td>
                                                    <td width="50%"><input class="input" v-model="additional_investment" type="text" placeholder="Small input"></td>
                                                </tr>
                                                <tr>
                                                    <td width="50%">Additional Investment Frequency</td>
                                                    <td width="50%">
                                                        <div class="select is-fullwidth">
                                                            <select v-model="additional_investment_frequency">
                                                                <option value=1>Yearly</option>
                                                                <option value=12>Monthly</option>
                                                                <option value=26>Fortnightly</option>
                                                                <option value=52>Weekly</option>
                                                                <option value=365>Daily</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="50%">Compound Frequency</td>
                                                    <td width="50%">
                                                        <div class="select is-fullwidth">
                                                            <select v-model="compound_frequency">
                                                                <option value=1>Yearly</option>
                                                                <option value=12>Monthly</option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="50%">Time Invested</td>
                                                    <td width="50%"><input class="input" v-model="time_invested" type="text" placeholder="Small input"></td>
                                                </tr>
                                                <tr>
                                                    <td width="50%">Interest Rate</td>
                                                    <td width="50%"><input class="input" v-model="interest_rate" type="text" placeholder="Small input"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <line-chart></line-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script async type="text/javascript" src="../js/bulma.js"></script>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- production version, optimized for size and speed -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script>-->

        <script type="text/javascript">


        //https://www.sitepoint.com/creating-beautiful-charts-vue-chart-js/
        // https://codepen.io/SitePoint/pen/dzoNxr
        Vue.component('reactive', {
            extends: VueChartJs.Bar,
            mixins: [VueChartJs.mixins.reactiveProp],
            data: function() {
                return {
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                },
                                gridLines: {
                                    display: true
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true
                                },
                                gridLines: {
                                    display: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            enabled: true,
                            mode: 'single',
                            callbacks: {
                                label: function(tooltipItems, data) {
                                    return '$' + tooltipItems.yLabel;
                                }
                            }
                        },
                        responsive: true,
                        maintainAspectRatio: false,
                        height: 200
                    }
                }
            },
            mounted() {
                // this.chartData is created in the mixin
                this.renderChart(this.chartData, this.options)
            }
        })

        var vm = new Vue({
            el: '.app',
            data() {
                return {
                    datacollection: null
                }
            },
            created() {
                this.fillData()
            },
            methods: {
                fillData() {
                    this.datacollection = {
                        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        datasets: [{
                            label: 'Data One',
                            backgroundColor: '#f87979',
                            data: [this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt(), this.getRandomInt()]
                        }]
                    }
                },
                getRandomInt() {
                    return Math.floor(Math.random() * (50 - 5 + 1)) + 5
                }
            }
        })


        const horizonalLinePlugin = {
            id: 'horizontalLine',
            afterDraw: function(chartInstance) {

                var yValue;
                var yScale = chartInstance.scales["y-axis-0"];
                var canvas = chartInstance.chart;
                var ctx = canvas.ctx;
                var index;
                var line;
                var style;

                if (chartInstance.options.horizontalLine) {

                    for (index = 0; index < chartInstance.options.horizontalLine.length; index++) {
                        line = chartInstance.options.horizontalLine[index];

                        if (!line.style) {
                            style = "#080808";
                        } else {
                            style = line.style;
                        }

                        if (line.y) {
                            yValue = yScale.getPixelForValue(line.y);
                        } else {
                            yValue = 0;
                        }
                        ctx.lineWidth = 3;

                        if (yValue) {
                            window.chart = chartInstance;
                            ctx.beginPath();
                            ctx.moveTo(0, yValue);
                            ctx.lineTo(canvas.width, yValue);
                            ctx.strokeStyle = style;
                            ctx.stroke();
                        }

                        if (line.text) {
                            ctx.fillStyle = style;
                            ctx.fillText(line.text, 0, yValue + ctx.lineWidth);
                        }
                    }
                    return;
                }
            }
        }

        Vue.component('line-chart', {
            extends: VueChartJs.Bar,
            mixins: [VueChartJs.mixins.reactiveProp],
            beforeMount() {
                this.addPlugin(horizonalLinePlugin)
            },
            mounted() {
                this.renderChart({
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                            label: 'Principal',
                            backgroundColor: '#3298dc',
                            data: [this.principal, 39, 10, 40, 39, 80, 40]
                        },
                        {
                            label: 'Additional Investments',
                            backgroundColor: '#3D5B96',
                            data: [40, 39, 10, 40, 39, 80, 40]
                        },
                        {
                            label: 'Total Interest',
                            backgroundColor: '#48c774',
                            data: [20, 10, 12, 33, 22, 4, 0]
                        }
                    ]
                }, {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            stacked: true,
                            categoryPercentage: 0.5,
                            barPercentage: 1
                        }],
                        yAxes: [{
                            stacked: true
                        }]
                    }
                })
            }

        })


        var app = new Vue({
            el: '#app',
            data: {
                principal: 10000,
                interest_rate: 9,
                time_invested: 5,
                additional_investment: 5000,
                additional_investment_frequency: 1,
                options: {
                    additional_investment_frequency: {
                        "1": "Yearly",
                        "12": "Monthly",
                        "26": "Fortnightly",
                        "52": "Weekly",
                        "365": "Daily"
                    }
                },
                compound_frequency: 1,
                options: {
                    compound_frequency: {
                        "1": "Yearly",
                        "12": "Monthly"
                    }
                }
            },
            methods: {},
            computed: {
                total_pay_periods: function() {
                    // calculate total number of pay periods
                    total_pay_periods = parseFloat(this.additional_investment_frequency) * parseFloat(this.time_invested);
                    return parseFloat(this.additional_investment_frequency) * parseFloat(this.time_invested);
                },
                total_additional_investment: function() {
                    // calculate total number of pay periods
                    total_pay_periods = parseFloat(this.additional_investment_frequency) * parseFloat(this.time_invested);
                    // times total pay periods by additional investment installment amount to get overall total additional investment
                    return parseFloat(this.additional_investment) * total_pay_periods;
                },
                rate: function() {
                    ir = parseFloat(this.interest_rate) / 100;
                    cf = parseFloat(this.compound_frequency);
                    aif = parseFloat(this.additional_investment_frequency);
                    return (Math.pow((1 + ir / cf), (cf / aif)) - 1);
                    // return (((1+ir/cf)^(cf/aif))-1);
                },
                future_value: function() {
                    // based on:
                    // F = P*(1+rate)^nper + A*( ((1+rate)^nper - 1)/rate )
                    // https://www.vertex42.com/Calculators/compound-interest-calculator.html#rate-per-period

                    p = parseFloat(this.principal);
                    r = parseFloat(this.rate);
                    tpp = parseFloat(this.total_pay_periods);
                    ai = parseFloat(this.additional_investment);

                    // calculate final future value
                    v = ((p * (Math.pow((1 + r), tpp))) + (ai * (Math.pow((1 + r), tpp) - 1) / r));
                    // convert to 2 decimal places
                    return v.toFixed(2);
                },
                total_interest: function() {
                    fv = parseFloat(this.future_value);
                    p = parseFloat(this.principal);
                    tai = parseFloat(this.total_additional_investment);
                    // calcualte total interest
                    ti = ((fv - p) - tai);
                    // convert to 2 decimal places
                    return ti.toFixed(2);
                }
            }
        })
        </script>
    </div>
</body>

</html>